.hero_section{
  background-color: #daecca;
}

.hero_section h2{
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}

.hero_section p{
  color: #111;
  line-height: 28px;
}

.hero_content{
  padding-top: 45px;
}

.shop_btn{
  border: none;
  outline: none;
  margin-top: 40px;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
}

.timer_count_promotion{
  background: var(--primary-color);
  height: 300px;
}

.timer_count_promotion img{
  width: 70% !important;
  height: 70% !important;
  object-fit: contain;
}

.store_btn{
  border: none;
  outline: none;
  margin-top: 40px;
  padding: 8px 20px;
  border-radius: 5px;
  background: white;
  color: var(--primary-color);
  font-weight: 600;
}

/* Responsive */
@media only screen and (max-width:992px){
  .hero_content h2{
    font-size: 2rem;
  }

  .section_title{
    font-size: 1.7rem;
  }

  .counter-img{
    display: none;
  }

  .clock_top-content{
    text-align: center;
  }

  .count_down-content{
    text-align: center;
  }
}

@media only screen and (max-width:768px){
  .hero_content h2{
    font-size: 1.5rem;
  }

  .hero_content p{
    font-size: 0.9rem;
  }

  .shop_btn{
    font-size: 0.9rem;
  }

  .section_title{
    font-size: 1.4rem;
  }

  .count_down-content{
    text-align: center;
  }
}

